flows.json
[{"id":"633fbf27.ab86f","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"42ea8bbc.454de4","type":"inject","z":"633fbf27.ab86f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[[]]},{"id":"38f7b359.4fd48c","type":"csv","z":"633fbf27.ab86f","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":600,"y":180,"wires":[[]]},{"id":"54f658bb.188c48","type":"html","z":"633fbf27.ab86f","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":620,"y":260,"wires":[[]]},{"id":"42528c5d.6450c4","type":"json","z":"633fbf27.ab86f","name":"","property":"payload","action":"","pretty":false,"x":620,"y":340,"wires":[[]]},{"id":"fb31f7db.2f1ef8","type":"xml","z":"633fbf27.ab86f","name":"","property":"payload","attr":"","chr":"","x":620,"y":420,"wires":[[]]},{"id":"b09c2214.4d6e1","type":"yaml","z":"633fbf27.ab86f","property":"payload","name":"","x":620,"y":500,"wires":[[]]},{"id":"80e55597.1065e8","type":"inject","z":"633fbf27.ab86f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":120,"wires":[[]]},{"id":"c60003ed.2cd8e","type":"debug","z":"633fbf27.ab86f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":200,"wires":[]},{"id":"39fd79b2.0372c6","type":"complete","z":"633fbf27.ab86f","name":"","scope":[],"uncaught":false,"x":420,"y":280,"wires":[[]]},{"id":"17fb9813.b2bca8","type":"catch","z":"633fbf27.ab86f","name":"","scope":null,"uncaught":false,"x":400,"y":360,"wires":[[]]},{"id":"505248fd.592a68","type":"status","z":"633fbf27.ab86f","name":"","scope":null,"x":380,"y":420,"wires":[[]]},{"id":"b2e213ea.e4df7","type":"link in","z":"633fbf27.ab86f","name":"","links":[],"x":360,"y":520,"wires":[[]]},{"id":"f1d0ee26.cfb79","type":"link out","z":"633fbf27.ab86f","name":"","links":[],"x":460,"y":480,"wires":[]},{"id":"fc55ff7e.d1f02","type":"comment","z":"633fbf27.ab86f","name":"","info":"","x":500,"y":540,"wires":[]}]
